header.header 
    .container
        .flex-center-between 
            a.logo(href="#")
                img.logo-icon(src="img/logo-icon.svg", alt="logo")
                img.logo-name(src="img/logo-name.svg", alt="logo")
            .align-items-center
                nav.navtop 
                    ul.menu
                        each menu in [{val: 'home', color: 'bg-green'}, {val: '#SHOWCASE', color: 'bg-blue'}, {val: 'ABOUT', color: 'bg-purple'}, {val: 'TEAM', color: 'bg-red'}] 
                            li.menu-item
                                a.menu-link(href="#")
                                    span.circle(class=menu.color)
                                    =menu.val
                a.btn(href="#") Contuct Us