header.header(class = dark ? 'dark' : '')
    .container
        .flex-center-between 
            a.logo(href="#")
                img.logo-icon(src="img/logo-icon.svg", alt="logo")
                .overflow-h
                    img.logo-name.slideInLeftSmall.duraction-0_8.delay-1_5(src="img/logo-name.svg", alt="logo")
            .align-items-center
                nav.navtop 
                    .menu
                        ul.d-sm-flex
                            each menu in [{val: 'home', color: 'bg-green', delay: '1_5'}, {val: 'SHOWCASE', color: 'bg-blue', delay: '1_6'}, {val: 'ABOUT', color: 'bg-purple', delay: '1_7'}, {val: 'TEAM', color: 'bg-red', delay: '1_8'}] 
                                li.menu-item
                                    a.menu-link(href="#")
                                        span.circle.fadeIn.duraction-0_8(class="delay-" + menu.delay + ' ' + menu.color)
                                        =menu.val
                        a.btn.incline.d-sm-none.d-block.delay-1_8.duraction-0_8(href="#") Contuct Us
                a.btn.incline.d-sm-block.d-none.delay-1_8.duraction-0_8 Contuct Us
            button.burger.d-sm-none.d-block(type="button")
                span.burger-line.burger-line-top
                span.burger-line.burger-line-center
                span.burger-line.burger-line-bottom