@keyframes incline 
  0% 
    transform: rotate(-7.66deg)

  100% 
    transform: rotate(0deg)

.incline
  animation-name: incline

@keyframes slideInLeftSmall 
  0% 
    transform: translateX(-100%)

  100% 
    transform: translateX(0)

.slideInLeftSmall 
  animation-name: slideInLeftSmall

@keyframes slideInUpSmallOpacity 
  0% 
    transform: translateY(-100%)
    opacity: 0

  100% 
    transform: translateY(0)
    opacity: 1

.slideInUpSmallOpacity 
  animation-name: slideInUpSmallOpacity

@keyframes slideInUpSmall 
  0% 
    transform: translateY(-50%)

  100% 
    transform: translateY(0)

.slideInUpSmall 
  animation-name: slideInUpSmall

@keyframes slideInDownSmall 
  0% 
    transform: translateY(50%)

  100% 
    transform: translateY(0)

.slideInDownSmall 
  animation-name: slideInDownSmall

@keyframes zoomOut 
  0% 
    transform: scale(2)

  100% 
    transform: scale(1)

.zoomOut 
  animation-name: zoomOut

@keyframes zoomIn
  0% 
    transform: scale(0.5)

  100% 
    transform: scale(1)

.zoomIn 
    animation-name: zoomIn

// .section 
//   &.active
//     animation-duration: 1s
//     animation-fill-mode: both
//     .zoomIn 
//       animation-name: zoomIn
//     .slideInRight
//       animation-name: slideInRight


