@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/sprite";

html 
  font-family: 'RedHatDisplay', Arial, serif
  font-size: $base-font-size
  height: 100%

body 
  height: 100%
  scroll-behavior: smooth
  text-rendering: optimizeSpeed
  line-height: 21px
  font-size: $base-font-size
  font-family: "RedHatDisplay", sans-serif
  font-style: normal
  font-weight: normal
  overflow-x: hidden
  background-color: $bg-color
  overflow-x: hidden

*, *::before, *::after
  box-sizing: border-box

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button 
  -webkit-appearance: none
  margin: 0


// *::-webkit-input-placeholder

// *:-moz-placeholder

// *::-moz-placeholder

// *:-ms-input-placeholder

body, h1, h2, h3, h4, h5, h6, p, ol, ul
  margin: 0
  padding: 0
  font-weight: normal

ol, ul 
  list-style: none

img 
  max-width: 100%
  display: block
  object-fit: contain

input, button, textarea, select
  font: inherit

button 
    padding: 0
    cursor: pointer
    border: none
    
audio, canvas, iframe, img, svg, video, textarea
  vertical-align: middle

textarea
  resize: none
  width: 100%
  outline: none
  appearance: none

section
  // min-height: 100vh
  position: relative
  // overflow: hidden
  background: #0A1226

input, select, button 
  outline: none

a 
  text-decoration: none

input
  appearance: none

// input[disabled]
//   background: #EEEEEE
//   color: #202020
//   opacity: 1

.fp-tableCell 
  width: 100%
  height: 100vh
  // +d-flex(center, center)

.container 
  max-width: $desktop
  width: 100% 
  margin: 0 auto 
  padding: 0 20px

.circle 
  border-radius: 50% 
  width: 12px
  height: 12px
  display: block

.circle_v2
  width: 16px
  height: 16px
  border-radius: 50% 
  display: block 
  flex-shrink: 0

.first 
  +d-flex(center,center)
  overflow: hidden
  // position: sticky
  // top: 0
  .fp-tableCell
    +d-flex(space-between, center)
    width: 100%
  &__left
    position: relative
    padding: 20px 0 30px
    .line-right
      top: 0

    .line-left 
      bottom: 0
      right: 0
  &__top
    position: relative
  
.second 
  background: #fff 
  .fp-tableCell
    display: flex
    align-items: center
  &__top 
    // min-height: 59vh
    +d-flex(center, flex-end)
    padding: 70px 0
    position: relative
  &__bottom
    // min-height: 41vh
    .c-gray 
      max-width: 540px 
      width: 100% 
      margin: 40px auto 47px

.third 
  background: linear-gradient(241.84deg, #9717FF 1.94%, #1A6BE0 101.23%)
  position: relative
  .fp-tableCell 
    width: 100%
    height: 100vh
    +d-flex(center, center)
    padding-bottom: 180px

.bg-circle
  position: absolute 
  left: 50% 
  top: 50% 
  pointer-events: none 
  z-index: 0 
  transform: translate(-50%, -50%)
  width: 1626px
  height: 493px

.cloud 
  position: absolute 
  left: 0 
  bottom: 0 
  width: 100% 
  object-fit: cover
  &-1 
    height: 302px
  &-2 
    height: 262px

.ic 
  width: 160px 
  height: 160px
  margin-right: 30px
  margin: 25px 15px 0
  &:last-child
    margin-right: 0
  img
    margin: 0 auto 10px
    height: 80px 
  &.c-green 
    img
      width: 57px
  &.c-blue 
    img
      width: 60px
  &.c-purple 
    img
      width: 99px
  &.c-red 
    img
      width: 93px
  &.c-orange 
    img
      width: 48px
      
.line 
  position: absolute 
  width: 100vw
  height: 2px 
  background: #fff 
  &:before 
    content: ''
    position: absolute
    top: 50% 
    transform: translateY(-50%)
    border-radius: 50%
    width: 12px
    height: 12px
    background: #fff 
  &-right 
    &:before 
      right: 100%
  &-left 
    &:before 
      left: 100%

canvas
  width: 100%
  height: 100%

.canvas-dots
  width: 400px
  height: 342px

.absolute-dots 
  position: absolute 
  right: 100%
  top: 50%
  transform: translateY(-50%)
  z-index: 2
 
.title 
    font-style: normal
    font-weight: 900
    font-size: 72px
    line-height: 95px
    letter-spacing: 0.1em
    text-transform: uppercase
    color: #fff
    span 
        display: block 
        &:first-child
          +text-gradient

.title_2
  font-weight: bold
  font-size: 36px
  line-height: 48px
  text-align: center
  color: #0F1930
  position: relative
  width: fit-content
  margin: 0 auto
  padding: 0 40px
  min-width: 370px
  .line 
    background: #0A1226
    top: 50% 
    transform: translateY(-50%)
    &:before 
      background: #0A1226
    &-right 
      left: 100%
    &-left 
      right: 100%

.title_3
  font-weight: bold
  font-size: 48px
  line-height: 60px
  text-align: center
  text-transform: uppercase
  color: #FFFFFF

.title_4 
  font-weight: 900
  font-size: 42px
  line-height: 56px
  text-align: center
  color: #FFFFFF
  background: linear-gradient(222.6deg, #FE6B02 4.98%, #FFBE16 100.39%)
  border-radius: 10px
  max-width: 635px 
  position: relative
  padding: 21px 10px
  margin: 0 auto
  &:before 
    content: ''
    position: absolute 
    left: 50%
    top: 50% 
    transform: translate(-50%,-50%)
    background: url("../img/border.svg") no-repeat center / contain
    width: 678px
    height: 190px
  .line-left
    right: calc(100% + 20px)
  .line-right 
    left: calc(100% + 20px)

.card-gadget 
  width: calc(33.33% - 20px)
  margin-right: 30px 
  box-shadow: $box-shadow
  border-radius: 15px
  padding: 0 35px 30px
  &:last-child
    margin-right: 0
  &__img
    margin: -48px auto 20px
    height: 224px 
    object-fit: contain
  .fs-14
    margin-top: 20px 

.card 
  width: 409px
  padding: 60px 55px
  background: #FFFFFF
  border-radius: 15px
  text-align: center
  position: relative
  z-index: 3
  margin-top: 90px
  span 
    display: block
  .fs-48 
    margin-bottom: 53px 
  .fs-20
    margin-bottom: 80px

.img-rocket 
  position: absolute 
  left: 50% 
  top: 50% 
  transform: translate(-50%, -50%)
  z-index: 2

.fourth 
  background-color: #0A1226
  padding: 20px 0
  .fp-tableCell
    +d-flex(center,center)
  .fp-scrollable
    height: auto!important
  .title_2 
    text-align: left
    padding: 15px 0 0 0
    width: 100%
    .line-left 
      top: auto 
      transform: none
      right: 43%
      bottom: -22px
  .fs-24
    margin: 83px 0 100px
    max-width: 443px
  .col-50
    margin-top: -33px
    &:last-child
      max-width: 507px

.max-460 
  max-width: 460px
  width: 100%

.mobile-tech 
  .fs-36
    margin-bottom: 20px
  .fs-18
    width: 170px
    margin-right: 24px
    margin-left: -24px
    padding-right: 20px
    .line 
      right: 0
      top: auto 
      bottom: -7px

.web-tech 
  .fs-18
    text-align: left
    height: 190px
    transform: rotate(180deg)
    writing-mode: vertical-rl
    margin: -30px 0 0 24px
    padding: 25px 0 0 0
  .line
    width: 190px
    height: 2px
    top: calc(50% + 12px)
    bottom: 0
    left: -97px
    transform: rotate(-90deg) translateY(-50%)
  .fs-36
    position: absolute
    transform: rotate(180deg)
    writing-mode: vertical-rl
    left: -67px
    top: 50px

.img-web 
  margin: 0 0 0 12px
  width: 100%
  max-width: 443px
  object-fit: contain 

.web-col 
  width: 20%

.line-white
  background: #fff!important
  &:before 
    background: #fff!important

.line-yellow
  background: #FFB915
  &:before 
    background: #FFB915
    box-shadow: 0px 0px 10px #FFB915

.line-green
  background: #1FC74D
  &:before 
    background: #1FC74D
    box-shadow: 0px 0px 10px #1FC74D

.line-blue
  background: #1C60F3
  &:before 
    background: #1C60F3
    box-shadow: 0px 0px 10px #1C60F3

.line-red
  background: #F10222
  &:before 
    background: #F10222
    box-shadow: 0px 0px 10px #F10222

.line-purple 
  background: #9815FE
  &:before 
    background: #9815FE
    box-shadow: 0px 0px 10px #9815FE

.line-orange 
  background: #FF9900
  &:before 
    background: #FF9900
    box-shadow: 0px 0px 10px #FF9900
  
.block-ic 
  width: 95px 
  height: 95px 
  object-fit: contain
  flex-shrink: 0

.fiveth 
  background-color: #0F1930
  &-top 
    background-color: $white
    min-height: 58vh 
    +d-flex(center,center)
    .container 
      max-width: 1080px
  &-bottom 
    min-height: 42vh
    padding-top: 10px
  &-side 
    max-width: 260px
    margin-top: 30px
    .fs-16
      margin-top: 48px

.circle-work 
  background: url("../img/circle-gray.png") no-repeat center / contain 
  width: 490px
  margin-bottom: -67px
  height: 490px
  img 
    width: 312px
    height: 312px
    border-radius: 50% 
    object-fit: cover
    margin: 89px auto

.block-icon 
  width: 100px
  height: 100px
  border-radius: 50%
  margin-bottom: 27px
  svg 
    width: 46px 
    height: 100%
    fill: #ffffff
    margin: 0 auto 
    display: block

.card-we
  width: 25%
  &__head 
    position: relative
    width: 100%
    height: 268px
    .icon-circle
      position: absolute 
      left: 0 
      top: 0 
      object-fit: contain 
      fill: #ffffff
  &__circle 
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    width: 267.97px
    height: 266.14px
    background: url("../img/circle-white.png") no-repeat center / contain
  &__color 
    border-radius: 50%
    width: 169px
    height: 169px
    margin: 0 auto
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    svg 
      width: 80px 
      height: 100%
      fill: $white 
      margin: 0 auto
      display: block
  .fs-18 
    padding-right: 10px
    max-width: 210px

.sixth 
  .container
    padding: 170px 20px 67px
  .title_4 
    margin-bottom: 170px
  .fp-scrollable
    height: 100%

.stages
  min-height: 445px
  margin-bottom: 60px
  &__info
    max-width: 550px
    width: 100%
    padding-left: 100px
  &__amount 
    position: absolute
    right: calc(100% + 34px)
    top: 50%
    width: 65px
    height: 65px
    border-radius: 50% 
    font-weight: 900
    font-size: 36px
    line-height: 65px
    text-align: center
    color: #FFFFFF
  .fs-48 
    margin-bottom: 40px
    .line-left
      right: 20%
      left: auto
      bottom: -10px
    .line-right
      left: 0
      bottom: -10px

.seventh 
  .fp-tableCell
    +d-flex(center, center)
.cases
  max-width: 730px 
  width: 100% 
  margin: 74px auto 30px
.case 
  width: calc(33.33% - 12px)
  height: 232px
  border-radius: 50px
  margin: 0 17px 17px 0 
  &-img 
    width: 100% 
    height: 100% 
    transform: scale(0.7)
    &_all 
      width: 100% 
      height: 100% 

  &:nth-child(3n+3)
    margin-right: 0

.gradient
  &-1
    background: linear-gradient(222.15deg, #9916FF 4.06%, #1961F3 96%)
  &-2 
    background: linear-gradient(222.15deg, #9916FF 4.06%, #1961F3 96%)
  &-3
    background: linear-gradient(95.63deg, #9816FF 5.13%, #FF0000 100.19%)
  &-4
    background: linear-gradient(114.08deg, #1A5AFF 13.32%, #1FC74D 83.94%)
  &-5
    background: linear-gradient(178.05deg, #E00480 1.64%, #FB0010 52.22%, #FF7A00 98.75%)
  &-6
    background: linear-gradient(274.31deg, #FFB815 0.8%, #06C954 98.74%)
  &-7
    background: linear-gradient(274.31deg, #FFB815 0.8%, #06C954 98.74%)
  &-8
    background: linear-gradient(222.6deg, #FE6B02 4.98%, #FFBE16 100.39%)

.eight 
  background: #FFFFFF
  &-top 
    min-height: 62vh
    +d-flex(center,flex-end)
  &-bottom 
    min-height: 38vh

//slider

.slider
  max-width: 1140px 
  padding: 0 15px
  width: 100% 
  margin: 90px auto 0
  min-height: 422px
  .slick-track
    padding-bottom: 100px
  &-item
    // min-height: 235px
    // width: 255px!important
    box-shadow: 0px 4px 15px rgba(26, 110, 220, 0.39)
    border-radius: 10px
    padding: 20px 25px
    position: relative
    opacity: 1
    transition: all 0.3s ease
    .fs-14 
      margin-top: 40px
    &:before 
      content: ''
      position: absolute 
      left: 30px 
      top: calc(100% - 17px)
      width: 0
      height: 0
      border-style: solid
      border-width: 42px 18.5px 0 18.5px
      z-index: -1
    &.bg-blue:before 
      border-color: #1C60F3 transparent transparent transparent
    &.bg-yellow:before 
      border-color: #FFB915 transparent transparent transparent
    &.bg-green:before 
      border-color: #1FC74D transparent transparent transparent
    &.bg-red:before 
      border-color: #F10222 transparent transparent transparent
    &.bg-purple:before 
      border-color: #9815FE transparent transparent transparent
    svg 
      fill: #FFFFFF
      position: absolute
      right: 0 
      top: 0
      width: 33.12px
      height: 20.11px
  .swiper-slide-active 
    // width: 350px!important
    // min-height: 323px!important
    // z-index: 5!important
.avatar
  border: 6px solid #FFFFFF
  border-radius: 50%
  width: 142.82px
  height: 142.82px
  flex-shrink: 0
  img 
    width: 100% 
    height: 100%
    border-radius: 50%




@import "modules/modules";

.w-100
  width: 100%
  
.relative 
  position: relative

.col-50 
  width: 50% 

.bg-green
  background-color: #1FC74D

.bg-blue 
  background-color: #1E5EF3

.bg-purple 
  background-color: #9816FF

.bg-red
  background-color: #F50219

.bg-yellow
  background-color: #FFB915

.bg-orange
  background-color: #FF9900

.gradient__green-blue
  background: linear-gradient(84.72deg, #1FC74D 1.77%, #1C60F3 95.75%)

.gradient__blue-pink
  background: linear-gradient(249.01deg, #F10222 1.1%, #9815FE 49.67%, #1C60F3 100.09%)

.gradient__pink-orange
  background: linear-gradient(30.15deg, #E7043A 0.93%, #FF9900 100.62%)

.gradient__purple-blue
  background: linear-gradient(222.15deg, #9916FF 4.06%, #1961F3 96%)

.gradient__orange-yellow
  background: linear-gradient(222.6deg, #FE6B02 4.98%, #FFBE16 100.39%)

@import "utils/media";