.header 
    padding: 30px 0
    position: absolute 
    top: 0 
    left: 0 
    width: 100%
    z-index: 9
    &.dark 
        background: #0A1226
        padding: 25px 0
        position: inherit
        .logo-icon 
            height: 70px 
            width: 70px
            margin-right: 10px
        .logo-name 
            height: 28px
        .btn 
            background-color: #ffffff
            color: #0F1930


.logo 
    +d-flex(start, center)
    &-icon 
        margin-right: 25px
        height: 76px 
        width: 76px
    &-name 
        width: fit-content
        height: 32px

.menu 
    +d-flex(start, center)
    padding-right: 30px
    &-link
        +d-flex(center, center)
        font-weight: 500
        font-size: 14px
        line-height: 1
        text-align: right
        letter-spacing: 0.1em
        color: #FFFFFF
        margin-left: 20px
        text-transform: uppercase
        .circle 
            margin-right: 10px 

