footer.footer 
    .container 
        .flex-wrap.flex-center-between 
            .footer__left
                img.footer-img(src="img/logo.svg", alt="logo")
                .fs-14.fw-medium.text-center
                    p.text-gradient BRIGHT APPS STUDIO
                    p.c-gray Yours Technology Partner
            nav.flex-wrap.navfooter
                ul.menu-footer
                    li.menu-main 
                        .circle.bg-yellow.mr-10
                        |EXPLORE
                    li.menu-footer-item
                        a.menu-footer-link(href="#") Showcase
                    li.menu-footer-item
                        a.menu-footer-link(href="#") About Us
                    li.menu-footer-item
                        a.menu-footer-link(href="#") Our Stack
                    li.menu-footer-item
                        a.menu-footer-link(href="#") Our Team
                    li.menu-footer-item
                        a.menu-footer-link(href="#") Reviews
                ul.menu-footer
                    li.menu-main 
                        .circle.bg-green.mr-10
                        |SERVICES
                    li.menu-footer-item
                        a.menu-footer-link(href="#") Ios Development
                    li.menu-footer-item
                        a.menu-footer-link(href="#") Android Development
                    li.menu-footer-item
                        a.menu-footer-link(href="#") Web Development
                    li.menu-footer-item
                        a.menu-footer-link(href="#") Ui/Ux Design
                    li.menu-footer-item
                        a.menu-footer-link(href="#") Quality Assurance
                ul.menu-footer
                    li.menu-main 
                        .circle.bg-blue.mr-10
                        |CONTACTS
                    li.menu-footer-item hello@inlight.tech
                    li.menu-footer-item Hungary, <br> 1053 Budapest, <br class="d-smm-block d-none"> Ferenciek tere 2
                    li.menu-footer-item Ukraine, <br> 04071 Kyiv, <br class="d-smm-block d-none"> Verkhnii Val 10
        .footer-bottom
            .flex-center-center.footer-socials.w-100
                a.social(href="#")
                    +icon("in")
                a.social(href="#")
                    +icon("facebook")
                a.social(href="#")
                    +icon("twitter")
                a.social(href="#")
                    +icon("youtube")
            p.text-lg-center.text-md-left.text-center.fs-12.c-gray.footer-copyright.w-100
                +icon("copyright")
                |INLIGHT 2020 All right reserved